@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed&display=swap');

body {
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

#root {
    background: linear-gradient(45deg, #b8e994, #87ceeb);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */

}

h1{
    text-align: center;
}

#icon{
    height:40px;
    width:auto;
}

.input-container {
    position: relative;
    margin: 10px 0;
    width:70%;
    font-size: 1.5rem;
    position: relative;
    right:30px;
}

.input-field {
    width: 100%;
    padding: 20px 0px 20px 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    border-radius: 10px;
}

.input-field:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #ccc;
}

#ForgotPassword{
    justify-self: flex-end;
    align-self: flex-end;
}

#ForgotPassword a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

button {
    background-color: #d5dec9;
    margin: 20px;
    width: 150px;
    height: 40px;
    font-weight: bolder;
    cursor: pointer;
    border:none;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px;

}

@media (max-width:800px){
    #login{
        width:40%;
    }

}